body{
background-color: blueviolet;
font-family:"Helvetica Neue", "Helvetica";
    font-weight: bold;
    text-align: center;
    color: black;
   
}


button{
    background-color:orange;
    color:black;
    width: 100px;
    padding: 20px;
    font-size: 1em;
    border: none;
    border-radius: 30px;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0 8px 32px 0 #d3c1ba;
}

h1{
border-bottom: black solid;
background-color: orange;
padding: 10px;
font-size: 3rem;
}
h2{
font-size: 2rem;
}

main{
    background-image: url(../practicando/img/disco.jpg);
    box-shadow: 0 8px 32px 0 rgba(141, 155, 81, 0.42);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: white;
    height:400px;
    max-width: 50%;
    margin: auto;


    }

    li{
        list-style: none;
        text-align: left;
        color: #1c0801;
        background-color: #d3c1ba;
        padding:0.1em;
    }
    
    ul{
        list-style: none;
        text-align: left;
        font-weight: bold;
        color: white;
        padding: 1em;
        
    }

    footer{
        background-color:rgba(36, 36, 36, 0.925);
        box-shadow: 0 8px 32px 0 rgba(141, 155, 81, 0.42);
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        margin-top: 30px;
        padding: 30px;
        border-radius: 10px;
        font-weight: bold;
        font-size:1em;
    
    }
    
    
    